[Unit]
Description=Button Shutdown Service

[Service]
Type=simple
ExecStart=/home/pi/projects/rpi_shutdown_button/rpi_shutdown_button.py
User=pi

[Install]
WantedBy=default.target